@import "../../App.scss";


.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-spotify-black;
  height: 50px;
  color: white;
  font-family: $font-text, sans-serif;

.logo-header{
  img {
    height: 4em;
    margin-left: 1em;
  }
}
  nav {
    display: flex;
    align-items: center;
  }

  a {
    color: $color-spotify-white;
    text-decoration: none;
    margin-right: 15px;
    &:hover {
      color: $color-grey1;

    }
  }

  span {
    cursor: pointer;
    margin-right: 3em;
  }

  input {
    background-color: $color-spotify-black;
    border: none;
    color: white;
    padding: 10px;
  }
}