@import "../../App.scss";

.footer {
  background-color: $color-spotify-black;
  color: $color-spotify-white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  font-family: $font-text, sans-serif;
  height: 50px;

  .welcome-message {
    color: white;
    margin: 0;
    margin-left: 2em;
    line-height: 60px;
    font-size: 14px;
  }

  .name {
    font-weight: bold;
  }
}
