@import "../../App.scss";

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  background-color: $color-spotify-black;
  color: $color-spotify-white;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-family: $font-text, sans-serif;
  height: 50px;

  .welcome-message {
    color: white;
    margin: 0;
    margin-left: 2em;
    line-height: 60px;
  }

  .name {
    font-weight: bold;
  }
  .author {
    display: flex;
    align-items: center;
    justify-content: flex-end;  }
}
