.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #333;
    color: rgb(167, 114, 114);
    font-size: 14px;
    .name{
        text-transform: capitalize;
    }
  }

  
  
  
  
  