// @import "//db.onlinewebfonts.com/c/23255fa3ff7a89589800cea3092f154f?family=NB+International";

// @font-face {
//   font-family: newYork;
//   src: url(./private-resources/NewYork.otf);
// }

// $font-text: "NB International";
// $font-text-styled: "newYork";

$color-yellow:#CFB023;
$color-spotify-green: #1DB954;
$color-spotify-black: #191414;
$color-spotify-white: #ffffff;
$color-grey1: rgb(211, 211, 211);
$color-grey2: rgb(170, 170, 170);
$color-grey3: rgb(118, 118, 118);
$color-grey4: rgb(73, 73, 73);
$color-violet: rgb(147, 84, 255);
$color-neon: rgb(218, 255, 1);